@page "/cashier_console"
<h3>Cashier's Console</h3>
<br />
<div class="form-group">
    <label for="cashier">Cashier Name:</label>
    <input type="text" id="cashier" class="form-control" @bind-value="cashierName"/>
</div>
<br />
<div class="row">
    <div class="col">
        <SelectProductForSellingComponent OnProductSelected="SelectProduct"></SelectProductForSellingComponent>
        <br />
        <SellProductComponent CashierName="@cashierName" SelectedProduct="selectedProduct" OnProductSold="SellProduct"></SellProductComponent>
    </div>
    <div class="col">
        PlaceHolder
    </div>
</div>

@code {


    private Product selectedProduct;
    private string cashierName;

        protected override void OnInitialized()
        {
            base.OnInitialized();
        }

        private void SelectProduct(Product product)
    {
        selectedProduct = product;
    }
    private void SellProduct(Product product)
    {

    }
}
